#                     NAME :    Syed Hamza
<b>Roll number : BSDSF21A019</b>

# Label Encoding Through Pandas

In [28]:
import pandas as pd

data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C', 'A']}
df = pd.DataFrame(data)

df['Label_Encoding'] = pd.factorize(df['Category'])[0]

df

  Category  Label_Encoding
0        A               0
1        B               1
2        C               2
3        A               0
4        B               1
5        C               2
6        A               0

# One Hot Encoding

In [29]:
data2 = {'Category': ['Lahore', 'Karachi', 'Islamabad', 'Cantt', 'Johar Town', 'Los Angeles']}
df2 = pd.DataFrame(data2)

one_hot_encoded = pd.get_dummies(df2['Category'], prefix= None)

df2 = pd.concat([df2, one_hot_encoded], axis=1)

print(df2)

      Category  Cantt  Islamabad  Johar Town  Karachi  Lahore  Los Angeles
0       Lahore  False      False       False    False    True        False
1      Karachi  False      False       False     True   False        False
2    Islamabad  False       True       False    False   False        False
3        Cantt   True      False       False    False   False        False
4   Johar Town  False      False        True    False   False        False
5  Los Angeles  False      False       False    False   False         True

# Custom Transform Functions
### Transformer Class

In [30]:
import numpy as np
class CustomTransformer:
    def __init__(self):
        self.mean = None
        self.mode = None  
        self.median = None

# FIT() Function
FIT function calculates the scaling(mean in our case) of columns of our dataset

### Fit Function

In [31]:
def Fit(self,X):
    self.mean = X.mean()
    self.mode = X.mode().iloc[0]
    self.median = X.median()
CustomTransformer.Fit = Fit

### Transform Function

In [32]:
def Transform(self,X):
    X_mean = X.fillna(self.mean)
    X_median = X.fillna(self.median)
    X_mode = X.fillna(self.mode)
    return X_mean, X_median, X_mode
CustomTransformer.Transform = Transform

### FIT_TRANSFORM Function

In [33]:
def Fit_transform(self,X):
    self.Fit(X)
    return self.Transform(X)
CustomTransformer.Fit_transform = Fit_transform

In [34]:
data = {'Values': [1, 2, np.nan, 4, 5, np.nan, 7, 8, 9]}
df = pd.DataFrame(data)


transformer = CustomTransformer()


transformed_data_mean, transformed_data_median, transformed_data_mode = transformer.Fit_transform(df['Values'])
print(f"Data before Transformation {df}")
print("Transformed Data (Using Mean):")
print(transformed_data_mean)
print("\nTransformed Data (Using Median):")
print(transformed_data_median)
print("\nTransformed Data (Using Mode):")
print(transformed_data_mode)

Data before Transformation    Values
0     1.0
1     2.0
2     NaN
3     4.0
4     5.0
5     NaN
6     7.0
7     8.0
8     9.0
Transformed Data (Using Mean):
0    1.000000
1    2.000000
2    5.142857
3    4.000000
4    5.000000
5    5.142857
6    7.000000
7    8.000000
8    9.000000
Name: Values, dtype: float64

Transformed Data (Using Median):
0    1.0
1    2.0
2    5.0
3    4.0
4    5.0
5    5.0
6    7.0
7    8.0
8    9.0
Name: Values, dtype: float64

Transformed Data (Using Mode):
0    1.0
1    2.0
2    1.0
3    4.0
4    5.0
5    1.0
6    7.0
7    8.0
8    9.0
Name: Values, dtype: float64